<h1> Sam Jones, Web Developer </h1>

<p> Project Links </p>
<a href='https://github.com/penoutlet/imdb-search'>IMDB Search Repo </a>
|
<a href='http://imdb-search-samjones.herokuapp.com/'> Heroku </a>
<p> Find out all about your favorite movies using the spotify API! </p>
<hr>
<a href='https://github.com/penoutlet/CDCSearch'>CDC Search</a>
<p> Find resources for care and research purposes by searching the CDC API. </p>
<hr>
<a href='https://github.com/penoutlet/UFO-DB'>UFO DB </a>
|
<a href-'http://ufo-sightings.herokuapp.com/'> Heroku </a>
<p> Search through 80,000 ufo sightings with UFO DB. </p>
<hr>
<a href='https://github.com/penoutlet/Bamazon'> Bamazon Node </a>
<p> Buy products and add new ones to the store using Bamazon. </p>
<hr>
<a href='http://trendicity.herokuapp.com/'> Trendicity (Heroku Only... In search of source code)</a>
<p> Check out and chat about the hottest twitter topics currently trending
in Orlando. </p>
