<div class='container'>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
      </div>
      <h1> Sam Jones, Web Developer (Page under construction)</h1>
    </div>
  </nav>

<ul class='list-group'>

<li class='list-group item' >
<a href='https://github.com/penoutlet/imdb-search'><button class='btn btn-danger'>IMDB Search Repo </button></a>
|
<a href='http://imdb-search-samjones.herokuapp.com/'><button class='btn btn-warning'> Heroku </button> </a>
<p class='speech-bubble'> Find out all about your favorite movies using the spotify API! </p>
</li>

<a href='https://github.com/penoutlet/UFO-DB'><button class='btn btn-danger'> UFO DB </button></a>
|
<a href-'http://ufo-sightings.herokuapp.com/'> <button class='btn btn-warning'> Heroku </button> </a>
<p class='speech-bubble'> Search through 80,000 ufo sightings with UFO DB. </p>

<a href='https://github.com/penoutlet/shiftbank'><button class='btn btn-danger'> Shiftbank </button> </a>
<a href='https://immense-bastion-77041.herokuapp.com/'> <button class='btn btn-warning'> Heroku </button> </a>
<p class='speech-bubble'> Create a user, a profile, and view other users and profiles. (Ongoing project) </p>

<button class='btn btn-danger'> Trendicity (???) </button>
<a href='http://trendicity.herokuapp.com/'> <button class='btn btn-warning'> Heroku </button> </a>
<p class='speech-bubble'> Check out and chat about the hottest twitter topics currently trending
in Orlando. </p>




</ul>

</div>
<style>
ul{
  /*background:
linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 64px 128px*/
}
.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
  height:50px;
  width:300px
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
nav{
  background-color:  #00aabb;
}
body{
  background:
  linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px

}
</style>
